<%= link_to("<< Back to List", access_menu_path, :class => 'back-link') %>

<% if !flash[:notice].blank? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="message index">
    <h2>message</h2>
  
    <%= link_to("Add New message", new_message_path, :class => 'action message') %>
  
    <table class="listing" summary="message list">
      <tr class="header">
        <th>#</th>
        <th>Title</th>
        <th>descrption</th>
        <th>type_message</th>
        <th>Actions</th>
      </tr>
      <% @message.each do |message| %>
      <tr>
        <td><%= message.id %></td>
  
        <td><%= message.title %></td>
        <td><%= message.descrption %></td>
        <td><%= message.type_message.name %></td>
        <td class="actions">
          <%= link_to("Show", message_path(message), :class => 'action show') %>
          <%= link_to("Edit", edit_message_path(message), :class => 'action edit') %>
          <%= link_to("Delete", delete_message_path(message), :class => 'action delete') %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>